@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#ext_menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-r .navbar-caption {
  color: #ffffff;
}
#ext_menu-r .navbar-toggler {
  color: #ffffff;
}
#ext_menu-r .close-icon::before,
#ext_menu-r .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-r .link,
#ext_menu-r .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-r .link {
  font-size: 0.9rem;
}
#ext_menu-r .dropdown-item,
#ext_menu-r .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-r .link:hover,
#ext_menu-r .dropdown-item:hover,
#ext_menu-r .link:focus,
#ext_menu-r .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-menu {
  background: #252525;
}
#ext_menu-r .nav-dropdown-sm .link:focus,
#ext_menu-r .nav-dropdown-sm .link:hover,
#ext_menu-r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-r .navbar,
#ext_menu-r .nav-dropdown-sm,
#ext_menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-r .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-r .bg-color.transparent.opened .link:hover,
#ext_menu-r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-r .link[aria-expanded="true"],
#ext_menu-r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-r .btn {
  font-size: 13px;
}
#header3-3b .mbr-section-title,
#header3-3b .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-4j .mbr-section-title,
#msg-box8-4j p {
  color: #fff;
}
#header5-3c .mbr-section-title {
  color: #000;
}
#header5-3c .mbr-section-lead {
  color: #9c9a9a;
}
#contacts4-32 STRONG {
  color: #ffffff;
}
#contacts4-32 P {
  color: #ffffff;
}
#contacts4-32 .btn {
  font-family: 'Lato', sans-serif;
}




#ext_menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1 .navbar-caption {
  color: #ffffff;
}
#ext_menu-1 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1 .close-icon::before,
#ext_menu-1 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1 .link,
#ext_menu-1 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-1 .link {
  font-size: 0.8rem;
}
#ext_menu-1 .dropdown-item,
#ext_menu-1 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-1 .link:hover,
#ext_menu-1 .dropdown-item:hover,
#ext_menu-1 .link:focus,
#ext_menu-1 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-menu {
  background: #161616;
}
#ext_menu-1 .nav-dropdown-sm .link:focus,
#ext_menu-1 .nav-dropdown-sm .link:hover,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#ext_menu-1 .navbar,
#ext_menu-1 .nav-dropdown-sm,
#ext_menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#ext_menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1 .bg-color.transparent.opened .link:hover,
#ext_menu-1 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-1 .link[aria-expanded="true"],
#ext_menu-1 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-1 .btn {
  font-size: 13px;
}
#header3-4c .mbr-section-title,
#header3-4c .mbr-section-subtitle {
  text-align: center;
}
#header3-6a .mbr-section-title,
#header3-6a .mbr-section-subtitle {
  text-align: center;
}
#header3-6a H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#msg-box3-5s .mbr-section-title,
#msg-box3-5s p {
  color: #000;
}
#msg-box3-5s .lead BLOCKQUOTE {
  text-align: center;
}
#msg-box3-5s .mbr-section-title {
  color: #353535;
}
#header3-60 .mbr-section-title,
#header3-60 .mbr-section-subtitle {
  text-align: center;
}
#header3-64 .mbr-section-title,
#header3-64 .mbr-section-subtitle {
  text-align: center;
}
#header3-69 .mbr-section-title,
#header3-69 .mbr-section-subtitle {
  text-align: center;
}
#header3-69 H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#header3-2o H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-c .navbar-caption {
  color: #ffffff;
}
#ext_menu-c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-c .close-icon::before,
#ext_menu-c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-c .link,
#ext_menu-c .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-c .link {
  font-size: 0.9rem;
}
#ext_menu-c .dropdown-item,
#ext_menu-c .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-c .link:hover,
#ext_menu-c .dropdown-item:hover,
#ext_menu-c .link:focus,
#ext_menu-c .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-menu {
  background: #252525;
}
#ext_menu-c .nav-dropdown-sm .link:focus,
#ext_menu-c .nav-dropdown-sm .link:hover,
#ext_menu-c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-c .navbar,
#ext_menu-c .nav-dropdown-sm,
#ext_menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-c .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-c .bg-color.transparent.opened .link:hover,
#ext_menu-c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-c .btn {
  font-size: 13px;
}
#msg-box8-42 .mbr-section-title,
#msg-box8-42 p {
  color: #fff;
}
#header3-43 .mbr-section-title,
#header3-43 .mbr-section-subtitle {
  text-align: center;
}
#header3-44 .mbr-section-title,
#header3-44 .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-d .navbar-caption {
  color: #ffffff;
}
#ext_menu-d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-d .close-icon::before,
#ext_menu-d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-d .link,
#ext_menu-d .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-d .link {
  font-size: 0.9rem;
}
#ext_menu-d .dropdown-item,
#ext_menu-d .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-d .link:hover,
#ext_menu-d .dropdown-item:hover,
#ext_menu-d .link:focus,
#ext_menu-d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-menu {
  background: #252525;
}
#ext_menu-d .nav-dropdown-sm .link:focus,
#ext_menu-d .nav-dropdown-sm .link:hover,
#ext_menu-d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-d .navbar,
#ext_menu-d .nav-dropdown-sm,
#ext_menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-d .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-d .bg-color.transparent.opened .link:hover,
#ext_menu-d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-d .link[aria-expanded="true"],
#ext_menu-d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-d .btn {
  font-size: 13px;
}
#msg-box8-45 .mbr-section-title,
#msg-box8-45 p {
  color: #fff;
}
#header3-46 .mbr-section-title,
#header3-46 .mbr-section-subtitle {
  text-align: center;
}
#header3-48 .mbr-section-title,
#header3-48 .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-e .navbar-caption {
  color: #ffffff;
}
#ext_menu-e .navbar-toggler {
  color: #ffffff;
}
#ext_menu-e .close-icon::before,
#ext_menu-e .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-e .link,
#ext_menu-e .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-e .link {
  font-size: 0.9rem;
}
#ext_menu-e .dropdown-item,
#ext_menu-e .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-e .link:hover,
#ext_menu-e .dropdown-item:hover,
#ext_menu-e .link:focus,
#ext_menu-e .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-menu {
  background: #252525;
}
#ext_menu-e .nav-dropdown-sm .link:focus,
#ext_menu-e .nav-dropdown-sm .link:hover,
#ext_menu-e .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-e .navbar,
#ext_menu-e .nav-dropdown-sm,
#ext_menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-e .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-e .bg-color.transparent.opened .link:hover,
#ext_menu-e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-e .link[aria-expanded="true"],
#ext_menu-e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-e .btn {
  font-size: 13px;
}
#msg-box8-4d .mbr-section-title,
#msg-box8-4d p {
  color: #fff;
}
#header3-4h .mbr-section-title,
#header3-4h .mbr-section-subtitle {
  text-align: center;
}
#header3-4e .mbr-section-title,
#header3-4e .mbr-section-subtitle {
  text-align: center;
}
#header3-4i .mbr-section-title,
#header3-4i .mbr-section-subtitle {
  text-align: center;
}
#header3-4f .mbr-section-title,
#header3-4f .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-g .navbar-caption {
  color: #ffffff;
}
#ext_menu-g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-g .close-icon::before,
#ext_menu-g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-g .link,
#ext_menu-g .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-g .link {
  font-size: 0.9rem;
}
#ext_menu-g .dropdown-item,
#ext_menu-g .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-g .link:hover,
#ext_menu-g .dropdown-item:hover,
#ext_menu-g .link:focus,
#ext_menu-g .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-menu {
  background: #252525;
}
#ext_menu-g .nav-dropdown-sm .link:focus,
#ext_menu-g .nav-dropdown-sm .link:hover,
#ext_menu-g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-g .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-g .navbar,
#ext_menu-g .nav-dropdown-sm,
#ext_menu-g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-g .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-g .bg-color.transparent.opened .link:hover,
#ext_menu-g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-g .link[aria-expanded="true"],
#ext_menu-g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-g .btn {
  font-size: 13px;
}
#msg-box8-4k .mbr-section-title,
#msg-box8-4k p {
  color: #fff;
}
#header3-4l .mbr-section-title,
#header3-4l .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-h .navbar-caption {
  color: #ffffff;
}
#ext_menu-h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-h .close-icon::before,
#ext_menu-h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-h .link,
#ext_menu-h .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-h .link {
  font-size: 0.9rem;
}
#ext_menu-h .dropdown-item,
#ext_menu-h .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-h .link:hover,
#ext_menu-h .dropdown-item:hover,
#ext_menu-h .link:focus,
#ext_menu-h .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-menu {
  background: #252525;
}
#ext_menu-h .nav-dropdown-sm .link:focus,
#ext_menu-h .nav-dropdown-sm .link:hover,
#ext_menu-h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-h .navbar,
#ext_menu-h .nav-dropdown-sm,
#ext_menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-h .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-h .bg-color.transparent.opened .link:hover,
#ext_menu-h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-h .btn {
  font-size: 13px;
}
#msg-box8-4n .mbr-section-title,
#msg-box8-4n p {
  color: #fff;
}
#header3-4p .mbr-section-title,
#header3-4p .mbr-section-subtitle {
  text-align: center;
}
#header3-4q .mbr-section-title,
#header3-4q .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-m .navbar-caption {
  color: #ffffff;
}
#ext_menu-m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-m .close-icon::before,
#ext_menu-m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-m .link,
#ext_menu-m .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-m .link {
  font-size: 0.9rem;
}
#ext_menu-m .dropdown-item,
#ext_menu-m .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-m .link:hover,
#ext_menu-m .dropdown-item:hover,
#ext_menu-m .link:focus,
#ext_menu-m .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-menu {
  background: #252525;
}
#ext_menu-m .nav-dropdown-sm .link:focus,
#ext_menu-m .nav-dropdown-sm .link:hover,
#ext_menu-m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-m .navbar,
#ext_menu-m .nav-dropdown-sm,
#ext_menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-m .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-m .bg-color.transparent.opened .link:hover,
#ext_menu-m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-m .link[aria-expanded="true"],
#ext_menu-m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-m .btn {
  font-size: 13px;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-11 .navbar-caption {
  color: #ffffff;
}
#ext_menu-11 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-11 .close-icon::before,
#ext_menu-11 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-11 .link,
#ext_menu-11 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-11 .link {
  font-size: 0.9rem;
}
#ext_menu-11 .dropdown-item,
#ext_menu-11 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-11 .link:hover,
#ext_menu-11 .dropdown-item:hover,
#ext_menu-11 .link:focus,
#ext_menu-11 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-menu {
  background: #252525;
}
#ext_menu-11 .nav-dropdown-sm .link:focus,
#ext_menu-11 .nav-dropdown-sm .link:hover,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-11 .navbar,
#ext_menu-11 .nav-dropdown-sm,
#ext_menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-11 .bg-color.transparent.opened .link:hover,
#ext_menu-11 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-11 .btn {
  font-size: 13px;
}
#ext_menu-12 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-12 .navbar-caption {
  color: #ffffff;
}
#ext_menu-12 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-12 .close-icon::before,
#ext_menu-12 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-12 .link,
#ext_menu-12 .dropdown-item {
  color: #ffffff;
}
#ext_menu-12 .link {
  font-size: 0.9rem;
}
#ext_menu-12 .dropdown-item,
#ext_menu-12 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-12 .link:hover,
#ext_menu-12 .dropdown-item:hover,
#ext_menu-12 .link:focus,
#ext_menu-12 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-menu {
  background: #252525;
}
#ext_menu-12 .nav-dropdown-sm .link:focus,
#ext_menu-12 .nav-dropdown-sm .link:hover,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-12 .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-12 .navbar,
#ext_menu-12 .nav-dropdown-sm,
#ext_menu-12 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-12 .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-12 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-12 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-12 .bg-color.transparent.opened .link:hover,
#ext_menu-12 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-12 .link[aria-expanded="true"],
#ext_menu-12 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-12 .btn {
  font-size: 13px;
}

#ext_menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-13 .navbar-caption {
  color: #ffffff;
}
#ext_menu-13 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-13 .close-icon::before,
#ext_menu-13 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-13 .link,
#ext_menu-13 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-13 .link {
  font-size: 0.9rem;
}
#ext_menu-13 .dropdown-item,
#ext_menu-13 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-13 .link:hover,
#ext_menu-13 .dropdown-item:hover,
#ext_menu-13 .link:focus,
#ext_menu-13 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-menu {
  background: #252525;
}
#ext_menu-13 .nav-dropdown-sm .link:focus,
#ext_menu-13 .nav-dropdown-sm .link:hover,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-13 .navbar,
#ext_menu-13 .nav-dropdown-sm,
#ext_menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-13 .bg-color.transparent.opened .link:hover,
#ext_menu-13 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-13 .btn {
  font-size: 13px;
}



#ext_menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-24 .navbar-caption {
  color: #ffffff;
}
#ext_menu-24 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-24 .close-icon::before,
#ext_menu-24 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-24 .link,
#ext_menu-24 .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-24 .link {
  font-size: 0.9rem;
}
#ext_menu-24 .dropdown-item,
#ext_menu-24 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-24 .link:hover,
#ext_menu-24 .dropdown-item:hover,
#ext_menu-24 .link:focus,
#ext_menu-24 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-menu {
  background: #252525;
}
#ext_menu-24 .nav-dropdown-sm .link:focus,
#ext_menu-24 .nav-dropdown-sm .link:hover,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-24 .navbar,
#ext_menu-24 .nav-dropdown-sm,
#ext_menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-24 .bg-color.transparent.opened .link:hover,
#ext_menu-24 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-24 .link[aria-expanded="true"],
#ext_menu-24 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-24 .btn {
  font-size: 13px;
}
#msg-box5-25 H3 {
  color: #ffffff;
}
#msg-box5-25 P {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#header3-26 .mbr-section-title,
#header3-26 .mbr-section-subtitle {
  text-align: center;
}
#header3-26 H3 {
  font-size: 36px;
}
#features4-27 .card-subtitle {
  color: #bcbcbc;
}
#features4-27 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-27 P {
  font-family: 'Roboto Slab', serif;
  text-align: left;
}
#features4-27 H2 {
  text-align: center;
  font-size: 20px;
}
#header3-28 .mbr-section-title,
#header3-28 .mbr-section-subtitle {
  text-align: center;
}
#header3-28 SPAN {
  font-size: 36px;
}
#header3-28 H3 {
  font-size: 36px;
}
#contacts1-2a STRONG {
  color: #ffffff;
}






#ext_menu-2d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2d .navbar-caption {
  color: #ffffff;
}
#ext_menu-2d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2d .close-icon::before,
#ext_menu-2d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2d .link,
#ext_menu-2d .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-2d .link {
  font-size: 0.9rem;
}
#ext_menu-2d .dropdown-item,
#ext_menu-2d .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-2d .link:hover,
#ext_menu-2d .dropdown-item:hover,
#ext_menu-2d .link:focus,
#ext_menu-2d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2d .link[aria-expanded="true"],
#ext_menu-2d .dropdown-menu {
  background: #161616;
}
#ext_menu-2d .nav-dropdown-sm .link:focus,
#ext_menu-2d .nav-dropdown-sm .link:hover,
#ext_menu-2d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2d .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#ext_menu-2d .navbar,
#ext_menu-2d .nav-dropdown-sm,
#ext_menu-2d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2d .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#ext_menu-2d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2d .bg-color.transparent.opened .link:hover,
#ext_menu-2d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2d .link[aria-expanded="true"],
#ext_menu-2d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-2d .btn {
  font-size: 13px;
}
#msg-box5-2e H3 {
  color: #ffffff;
  text-align: center;
}
#msg-box5-2e P {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#header3-6c .mbr-section-title,
#header3-6c .mbr-section-subtitle {
  text-align: center;
}
#header3-6c H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#header3-2f .mbr-section-title,
#header3-2f .mbr-section-subtitle {
  text-align: center;
}
#header3-2f H3 {
  font-size: 36px;
}
#features7-54 .card-subtitle {
  color: #bcbcbc;
}
#features7-54 .iconbox {
  background-color: #28324e;
  border-color: #28324e;
}
#features7-54 P {
  font-family: 'Roboto Slab', serif;
  text-align: left;
}
#header3-6f .mbr-section-title,
#header3-6f .mbr-section-subtitle {
  text-align: center;
}
#header3-6f H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#form2-6b .mbr-section-title {
  color: #000000;
}
#form2-6b .mbr-section-subtitle {
  color: #a0a0a0;
}
#header3-6e .mbr-section-title,
#header3-6e .mbr-section-subtitle {
  text-align: center;
}
#header3-6e H3 {
  font-size: 46px;
  font-family: 'Arimo', sans-serif;
}
#contacts3-4u STRONG {
  color: #ffffff;
}

#ext_menu-3g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3g .navbar-caption {
  color: #ffffff;
}
#ext_menu-3g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3g .close-icon::before,
#ext_menu-3g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3g .link,
#ext_menu-3g .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-3g .link {
  font-size: 0.9rem;
}
#ext_menu-3g .dropdown-item,
#ext_menu-3g .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3g .link:hover,
#ext_menu-3g .dropdown-item:hover,
#ext_menu-3g .link:focus,
#ext_menu-3g .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-menu {
  background: #252525;
}
#ext_menu-3g .nav-dropdown-sm .link:focus,
#ext_menu-3g .nav-dropdown-sm .link:hover,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3g .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-3g .navbar,
#ext_menu-3g .nav-dropdown-sm,
#ext_menu-3g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3g .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-3g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3g .bg-color.transparent.opened .link:hover,
#ext_menu-3g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3g .link[aria-expanded="true"],
#ext_menu-3g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-3g .btn {
  font-size: 13px;
}
#msg-box8-4v .mbr-section-title,
#msg-box8-4v p {
  color: #fff;
}
#header3-4y .mbr-section-title,
#header3-4y .mbr-section-subtitle {
  text-align: center;
}
#header3-58 .mbr-section-title,
#header3-58 .mbr-section-subtitle {
  text-align: center;
}
#header3-4z .mbr-section-title,
#header3-4z .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}


#ext_menu-3m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3m .navbar-caption {
  color: #ffffff;
}
#ext_menu-3m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3m .close-icon::before,
#ext_menu-3m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3m .link,
#ext_menu-3m .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-3m .link {
  font-size: 0.9rem;
}
#ext_menu-3m .dropdown-item,
#ext_menu-3m .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3m .link:hover,
#ext_menu-3m .dropdown-item:hover,
#ext_menu-3m .link:focus,
#ext_menu-3m .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3m .link[aria-expanded="true"],
#ext_menu-3m .dropdown-menu {
  background: #252525;
}
#ext_menu-3m .nav-dropdown-sm .link:focus,
#ext_menu-3m .nav-dropdown-sm .link:hover,
#ext_menu-3m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3m .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-3m .navbar,
#ext_menu-3m .nav-dropdown-sm,
#ext_menu-3m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3m .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-3m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3m .bg-color.transparent.opened .link:hover,
#ext_menu-3m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3m .link[aria-expanded="true"],
#ext_menu-3m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-3m .btn {
  font-size: 13px;
}
#header3-3o .mbr-section-title,
#header3-3o .mbr-section-subtitle {
  text-align: center;
}
#header3-3o H3 {
  font-size: 36px;
}
#contacts4-3n STRONG {
  color: #ffffff;
}
#contacts4-3n P {
  color: #ffffff;
}
#contacts4-3n .btn {
  font-family: 'Lato', sans-serif;
}


#ext_menu-3v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3v .navbar-caption {
  color: #ffffff;
}
#ext_menu-3v .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3v .close-icon::before,
#ext_menu-3v .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3v .link,
#ext_menu-3v .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-3v .link {
  font-size: 0.9rem;
}
#ext_menu-3v .dropdown-item,
#ext_menu-3v .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#ext_menu-3v .link:hover,
#ext_menu-3v .dropdown-item:hover,
#ext_menu-3v .link:focus,
#ext_menu-3v .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3v .link[aria-expanded="true"],
#ext_menu-3v .dropdown-menu {
  background: #252525;
}
#ext_menu-3v .nav-dropdown-sm .link:focus,
#ext_menu-3v .nav-dropdown-sm .link:hover,
#ext_menu-3v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3v .nav-dropdown-sm .dropdown-item:hover {
  background: #363636!important;
}
#ext_menu-3v .navbar,
#ext_menu-3v .nav-dropdown-sm,
#ext_menu-3v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3v .nav-dropdown-sm .dropdown-menu {
  background: #3e3e3e;
}
#ext_menu-3v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3v .bg-color.transparent.opened .link:hover,
#ext_menu-3v .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3v .link[aria-expanded="true"],
#ext_menu-3v .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-3v .btn {
  font-size: 13px;
}
#header1-3y .mbr-section-lead {
  font-size: 24px;
}
#header1-3y .mbr-section-title {
  font-size: 46px;
}
#contacts4-3w STRONG {
  color: #ffffff;
}
#contacts4-3w P {
  color: #ffffff;
}
#contacts4-3w .btn {
  font-family: 'Lato', sans-serif;
}


#ext_menu-6g .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6g .navbar-caption {
  color: #ffffff;
}
#ext_menu-6g .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6g .close-icon::before,
#ext_menu-6g .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6g .link,
#ext_menu-6g .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-6g .link {
  font-size: 0.8rem;
}
#ext_menu-6g .dropdown-item,
#ext_menu-6g .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-6g .link:hover,
#ext_menu-6g .dropdown-item:hover,
#ext_menu-6g .link:focus,
#ext_menu-6g .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-6g .link[aria-expanded="true"],
#ext_menu-6g .dropdown-menu {
  background: #161616;
}
#ext_menu-6g .nav-dropdown-sm .link:focus,
#ext_menu-6g .nav-dropdown-sm .link:hover,
#ext_menu-6g .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6g .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#ext_menu-6g .navbar,
#ext_menu-6g .nav-dropdown-sm,
#ext_menu-6g .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6g .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#ext_menu-6g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6g .bg-color.transparent.opened .link:hover,
#ext_menu-6g .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-6g .link[aria-expanded="true"],
#ext_menu-6g .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-6g .btn {
  font-size: 13px;
}
#header3-6l .mbr-section-title,
#header3-6l .mbr-section-subtitle {
  text-align: center;
}
#msg-box8-6q .mbr-section-title,
#msg-box8-6q p {
  color: #fff;
}
#header3-6r .mbr-section-title,
#header3-6r .mbr-section-subtitle {
  text-align: center;
}
#msg-box4-6k H3 {
  color: #ffffff;
  text-align: left;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#header3-6m .mbr-section-title,
#header3-6m .mbr-section-subtitle {
  text-align: center;
}
#contacts3-6h STRONG {
  color: #ffffff;
}


#ext_menu-6n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6n .navbar-caption {
  color: #ffffff;
}
#ext_menu-6n .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6n .close-icon::before,
#ext_menu-6n .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6n .link,
#ext_menu-6n .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-6n .link {
  font-size: 0.8rem;
}
#ext_menu-6n .dropdown-item,
#ext_menu-6n .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-6n .link:hover,
#ext_menu-6n .dropdown-item:hover,
#ext_menu-6n .link:focus,
#ext_menu-6n .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-6n .link[aria-expanded="true"],
#ext_menu-6n .dropdown-menu {
  background: #161616;
}
#ext_menu-6n .nav-dropdown-sm .link:focus,
#ext_menu-6n .nav-dropdown-sm .link:hover,
#ext_menu-6n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6n .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#ext_menu-6n .navbar,
#ext_menu-6n .nav-dropdown-sm,
#ext_menu-6n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6n .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#ext_menu-6n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6n .bg-color.transparent.opened .link:hover,
#ext_menu-6n .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-6n .link[aria-expanded="true"],
#ext_menu-6n .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-6n .btn {
  font-size: 13px;
}
#msg-box8-6p .mbr-section-title,
#msg-box8-6p p {
  color: #fff;
}
#header3-6t .mbr-section-title,
#header3-6t .mbr-section-subtitle {
  text-align: center;
}
#msg-box4-6s H3 {
  color: #ffffff;
  text-align: left;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}

#ext_menu-6u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6u .navbar-caption {
  color: #ffffff;
}
#ext_menu-6u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6u .close-icon::before,
#ext_menu-6u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6u .link,
#ext_menu-6u .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-6u .link {
  font-size: 0.8rem;
}
#ext_menu-6u .dropdown-item,
#ext_menu-6u .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#ext_menu-6u .link:hover,
#ext_menu-6u .dropdown-item:hover,
#ext_menu-6u .link:focus,
#ext_menu-6u .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-6u .link[aria-expanded="true"],
#ext_menu-6u .dropdown-menu {
  background: #161616;
}
#ext_menu-6u .nav-dropdown-sm .link:focus,
#ext_menu-6u .nav-dropdown-sm .link:hover,
#ext_menu-6u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6u .nav-dropdown-sm .dropdown-item:hover {
  background: #282828!important;
}
#ext_menu-6u .navbar,
#ext_menu-6u .nav-dropdown-sm,
#ext_menu-6u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6u .nav-dropdown-sm .dropdown-menu {
  background: #303030;
}
#ext_menu-6u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6u .bg-color.transparent.opened .link:hover,
#ext_menu-6u .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-6u .link[aria-expanded="true"],
#ext_menu-6u .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-6u .btn {
  font-size: 13px;
}
#msg-box8-6w .mbr-section-title,
#msg-box8-6w p {
  color: #fff;
}
#header3-73 .mbr-section-title,
#header3-73 .mbr-section-subtitle {
  text-align: center;
}
#header3-74 .mbr-section-title,
#header3-74 .mbr-section-subtitle {
  text-align: center;
}
#header3-72 .mbr-section-title,
#header3-72 .mbr-section-subtitle {
  text-align: center;
}
#contacts3-4u STRONG {
  color: #ffffff;
}
